Package: hotvideo-downloader
Version: 1.3.2
Architecture: all
Priority: optional
Section: utils
Maintainer: Iksan Rumasoreng <rumasoreng757@gmail.com>
Installed-Size: 1103
Depends: python, python-yt-dlp, yt-dlp-ejs, aria2, ffmpeg
Homepage: https://github.com/iksan757/pkg-hotvideo-downloader
Description: Fast video downloader that extracts direct stream links with custom quality and high-speed DNS
